@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO for later:
- find better solution than putting date in grid-area user
*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Rubik";
  font-size: 16px;
  @apply text-dark-blue;
}

.comment-container {
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    "user user"
    "comment comment"
    "update update"
    "voting interact";
  grid-template-columns: 130px 1fr;
}

.voting {
  grid-area: voting;
}

.user {
  grid-area: user;
}

.date {
  grid-area: user;
}

.reply {
  grid-area: interact;
}

.comment {
  grid-area: comment;
}

.update {
  grid-area: update;
}

@media (min-width: 768px) {
  .comment-container {
    grid-template-areas:
      "voting user user interact"
      "voting comment comment comment"
      "voting comment comment comment"
      ". . . update";
    grid-template-columns: 45px 1fr;
  }
}
