@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO for later:
- find better solution than putting date in grid-area user
*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik";
  font-size: 16px;
}

.comment-container {
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    "user user"
    "comment comment"
    "update update"
    "voting interact";
  grid-template-columns: 95px 1fr;
}

textarea {
  @apply textarea resize-none border border-neutral transition-all hover:cursor-pointer hover:border hover:border-base-200 focus:cursor-text focus:border-base-200 focus:outline-none;
}

.voting {
  grid-area: voting;
}

.user {
  grid-area: user;
}

.date {
  grid-area: user;
}

.edit {
  grid-area: interact;
}

.reply {
  grid-area: interact;
}

.comment {
  grid-area: comment;
}

.update {
  grid-area: update;
}

.new-comment {
  grid-area: new-comment;
}

.current-user {
  grid-area: current-user;
}

.submit-button {
  grid-area: submit-button;
}

.comment-form {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "new-comment new-comment"
    "current-user submit-button";
  grid-template-columns: 65% 1fr;
}

footer a {
  @apply text-base-200 underline;
}

@media (min-width: 768px) {
  .comment-container {
    grid-template-areas:
      "voting user user interact"
      "voting comment comment comment"
      "voting comment comment comment"
      ". . . update";
    grid-template-columns: 45px 1fr 1fr 30%;
  }
}

@media (min-width: 768px) {
  .comment-form {
    grid-template-areas: "current-user new-comment submit-button";
    grid-template-columns: 5% 1fr 15%;
  }
}
